<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
	  xmlns:ftm="http://typo3.org/ns/CodingMs/Ftm/ViewHelpers"
	  data-namespace-typo3-fluid="true">
<f:layout name="Backend" />
<f:section name="Content">

	<div class="content">

		<f:comment>
		<ftm:be.tab.container name="FtmOverviewFilter" tabs="{first: 'FL', second: 'SL', thrid: 'TL'}" active="1">
			<ftm:be.tab.content containerTab="FtmOverviewFilter-1" active="1">
				firstconent
			</ftm:be.tab.content>
			<ftm:be.tab.content containerTab="FtmOverviewFilter-2">
				secongconent
			</ftm:be.tab.content>
			<ftm:be.tab.content containerTab="FtmOverviewFilter-3">
				thirdconent
			</ftm:be.tab.content>
		</ftm:be.tab.container>
		</f:comment>

		<f:if condition="{refreshThemeFilesRequired}">
			<div class="alert alert-info alert-outdated-configration">
				<!-- @todo translation -->
				<h4>FTM has detected, that your editable configuration is not the same anymore as your file based.</h4>
				<p class="messageText">If you like to regenerate your file based configuration, press the following button and we will rewrite your *Meta/theme.yaml*, *ext_emconf.php*, *Configuration/TypoScript/constants.txt* and *Configuration/TypoScript/setup.txt* files depending on your editable configuration.</p>
				<f:link.action action="rewriteThemeFiles" controller="Theme" class="btn btn-success" arguments="{theme: selectedTheme}">Refresh theme files</f:link.action>
				<p><small>Notice: All your files will be backupped before. The backup files are located in *uploads/tx_ftm/backup*.</small></p>
			</div>
		</f:if>

		<ftm:be.tab.container name="FtmOverviewFilter" tabs="{first: 'Filter'}" active="1">
			<ftm:be.tab.content containerTab="FtmOverviewFilter-1" active="1">

				<f:form class="form-inline">
					<div class="form-group">
						<label for="theme">{f:translate(key:'tx_ftm_label.overview_theme')}:</label>
						<f:form.select name="theme" id="theme" options="{availableThemes}" value="{selectedTheme}"
											  optionValueField="extensionName" optionLabelField="title"
											  additionalAttributes="{onchange: 'this.form.submit(); return false'}"
											  class="form-control" />
					</div>

					<div class="form-group">
						<label for="theme">{f:translate(key:'tx_ftm_label.overview_theme_scope')}:</label>
						<f:form.select name="themeScope" id="themeScope" options="{themeScopes}" value="{selectedThemeScope}"
											  additionalAttributes="{onchange: 'this.form.submit(); return false'}"
									   class="form-control" />
					</div>

				</f:form>
				<f:form class="form-inline">
					<h3>{f:translate(key:'tx_ftm_label.overview_filter_by_type')}:</h3>
					<div class="overview-filter">
						<f:for each="{settings.overview.filter}" key="key" as="value" iteration="filterIteration">
							<label class="checkbox-inline" for="overview_filter_{key}">
								<f:if condition="{value}==1">
									<f:then>
										<f:form.checkbox id="overview_filter_{key}" name="overview_filter_{key}" value="1"
														 additionalAttributes="{onchange: 'this.form.submit(); return false'}"
														 checked="checked" />
									</f:then>
									<f:else>
										<f:form.checkbox id="overview_filter_{key}" name="overview_filter_{key}" value="1"
														 additionalAttributes="{onchange: 'this.form.submit(); return false'}" />
									</f:else>
								</f:if>
								{key}
							</label>
						</f:for>
					</div>
				</f:form>

			</ftm:be.tab.content>
		</ftm:be.tab.container>




		<table border="0" cellpadding="0" cellspacing="0" class="typo3-dblist table table-striped table-hover">
			<thead>
			<tr class="t3-row-header">
				<td nowrap="nowrap" class="col-icon">
					<core:icon identifier="actions-pagetree-expand" size="small"/>
				</td>
				<td nowrap="nowrap" class="" colspan="{overviewColSpan}">
					<span class="c-table">
						<f:translate key="tx_ftm_label.list_header_overview_theme_files" />
					</span> (<f:count subject="{themeFileData}" />)
				</td>
			</tr>
			<tr class="c-headLine">
				<td nowrap="nowrap" class="col-icon">
					<f:if condition="{themeReadonly}">
						<f:then></f:then>
						<f:else>
							<f:link.action action="newFile" controller="Theme" arguments="{scope: selectedThemeScope, theme: selectedTheme}"
										   title="{f:translate(key:'tx_ftm_label.button_create_a_new_theme_file')}">
								<core:icon identifier="actions-page-new" size="small"/>
							</f:link.action>
						</f:else>
					</f:if>
				</td>
				<f:if condition="{settings.overview.columns.type}">
					<td nowrap="nowrap" ><a><f:translate key="tx_ftm_label.list_col_type" /></a></td>
				</f:if>
				<f:if condition="{settings.overview.columns.subType}">
					<td nowrap="nowrap" ><a><f:translate key="tx_ftm_label.list_col_sub_type" /></a></td>
				</f:if>
				<f:if condition="{settings.overview.columns.scope}">
					<td nowrap="nowrap" ><a><f:translate key="tx_ftm_label.list_col_scope" /></a></td>
				</f:if>
				<f:if condition="{settings.overview.columns.relPath}">
					<td nowrap="nowrap" ><a><f:translate key="tx_ftm_label.list_col_rel_path" /></a></td>
				</f:if>
				<f:if condition="{settings.overview.columns.name}">
					<td nowrap="nowrap" ><a><f:translate key="tx_ftm_label.list_col_name" /></a></td>
				</f:if>
				<f:if condition="{settings.overview.columns.extension}">
					<td nowrap="nowrap" ><a><f:translate key="tx_ftm_label.list_col_extension" /></a></td>
				</f:if>
				<f:if condition="{settings.overview.columns.size}">
					<td nowrap="nowrap" ><a><f:translate key="tx_ftm_label.list_col_size" /></a></td>
				</f:if>
				<f:if condition="{settings.overview.columns.permissions}">
					<td nowrap="nowrap" ><a><f:translate key="tx_ftm_label.list_col_permissions" /></a></td>
				</f:if>
				<td nowrap="nowrap" ><a><f:translate key="tx_ftm_label.list_col_actions" /></a></td>
			</tr>
			</thead>

			<tbody>
			<f:for each="{themeFileData}" as="themeFile" iteration="rowIteration">
				<tr class="db_list_normal {f:if(condition: rowIteration.isFirst, then: 'firstcol')} {f:if(condition: rowIteration.isLast, then: 'lastcol')}">

					<td><core:icon identifier="{themeFile.icon}" size="small"/></td>

					<f:if condition="{settings.overview.columns.type}">
						<td>{themeFile.type}</td>
					</f:if>

					<f:if condition="{settings.overview.columns.subType}">
						<td>{themeFile.subType}</td>
					</f:if>

					<f:if condition="{settings.overview.columns.scope}">
						<td>{themeFile.scope}</td>
					</f:if>

					<f:if condition="{settings.overview.columns.relPath}">
						<td>{themeFile.relPath}</td>
					</f:if>

					<f:if condition="{settings.overview.columns.name}">
						<f:if condition="{themeFile.isEditable}">
							<f:then>
								<td>
									<f:link.action action="editFile" controller="Theme" title="{f:translate(key:'tx_ftm_label.button_edit_file')}"
												   arguments="{
														relPath: themeFile.relPath,
														name: themeFile.name,
														theme: selectedTheme,
														fileExtension: themeFile.extension
													}">{themeFile.name}</f:link.action>
								</td>
							</f:then>
							<f:else>
								<td>{themeFile.name}</td>
							</f:else>
						</f:if>
					</f:if>

					<f:if condition="{settings.overview.columns.extension}">
						<td>{themeFile.extension}</td>
					</f:if>
					<f:if condition="{settings.overview.columns.size}">
						<td>{themeFile.sizeString}</td>
					</f:if>
					<f:if condition="{settings.overview.columns.permissions}">
						<td><f:format.raw>{themeFile.permissionsString}</f:format.raw></td>
					</f:if>

					<td class="actions">

						<f:if condition="{themeFile.isEditable}">
							<f:then>

								<f:if condition="{settings.overview.actions.edit}">
									<f:link.action action="editFile"
												   controller="Theme"
												   title="{f:translate(key:'tx_ftm_label.button_edit_file')}"
												   arguments="{
														relPath: themeFile.relPath,
														name: themeFile.name,
														theme: selectedTheme,
														fileExtension: themeFile.extension
													}">
										<core:icon identifier="actions-document-open" size="small"/>
									</f:link.action>
									<f:link.action action="editFile"
												   controller="Theme"
												   title="{f:translate(key:'tx_ftm_label.button_edit_file_new_window')}"
												   arguments="{
														relPath: themeFile.relPath,
														name: themeFile.name,
														theme: selectedTheme,
														fileExtension: themeFile.extension
													}"
												   target="_blank">
										<core:icon identifier="actions-window-open" size="small"/>
									</f:link.action>
								</f:if>

								<f:if condition="{settings.overview.actions.delete}">
									<ftm:variable.set name="warningReallyDeleteFile"
													  value="{f:translate(key: 'tx_ftm_message.warning_really_delete_file', arguments: {0: themeFile.relPath, 1: themeFile.name} )}" />
									<!-- @todo use bootstrap modal -->
									<f:link.action action="deleteFile" controller="Theme"
												   onclick="return confirm('{warningReallyDeleteFile}')"
												   title="{f:translate(key:'tx_ftm_label.button_delete_file')}"
												   arguments="{
														relPath: themeFile.relPath,
														name: themeFile.name,
														theme: selectedTheme
													}">
										<core:icon identifier="actions-delete" size="small"/>
									</f:link.action>
								</f:if>

								<f:if condition="{settings.overview.actions.snippetSave}">
									<f:link.action action="saveSnippet" controller="Theme"
												   title="{f:translate(key:'tx_ftm_label.button_snippet_save')}"
												   arguments="{
													   relPath: themeFile.relPath,
													   filename: themeFile.name,
													   type: themeFile.type,
													   subType: themeFile.subType,
													   scope: selectedThemeScope,
													   theme: selectedTheme
												   }">
										<f:image src="{f:uri.resource(path:'Icons/snippet_save.png')}" width="16" height="16" />
									</f:link.action>
								</f:if>

							</f:then>
							<f:else>
								<core:icon identifier="actions-document-open-read-only" size="small"/>
							</f:else>
						</f:if>

					</td>


				</tr>
			</f:for>
			</tbody>
		</table>
	</div>


	<f:comment>
		<f:debug>{_all}</f:debug>
	</f:comment>

</f:section>

</html>
