<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
	  xmlns:ftm="http://typo3.org/ns/CodingMs/Ftm/ViewHelpers"
	  data-namespace-typo3-fluid="true">
<f:layout name="Backend" />
<f:section name="Content">
	<f:form action="saveFile"
			id="editor-form-save">
		<f:form.hidden name="content" id="editor-source" />
		<f:form.hidden name="relPath" id="editor-relPath" value="{relPath}" />
		<f:form.hidden name="fileName" id="editor-fileName" value="{fileName}" />
		<f:form.hidden name="selectedTheme" id="editor-selectedTheme" value="{selectedTheme}" />
		<f:form.hidden name="scriptMode" id="editor-scriptMode" value="{scriptMode}" />
		<f:form.hidden name="snippetFile" id="editor-snippetFile" value="{snippetFile}" />
		<f:form.hidden name="snippetScope" id="editor-snippetScope" value="{snippetScope}" />
		<!-- Editor config -->
		<f:form.hidden name="editorTheme" id="editor-editorTheme" value="{settings.editor.theme}" />
		<f:form.hidden name="editorTabsTabSize" id="editor-editorTabsTabSize" value="{settings.editor.tabs.tabSize}" />
		<f:form.hidden name="editorTabsUseSoftWraps" id="editor-editorTabsUseSoftWraps" value="{settings.editor.tabs.useSoftTabs}" />
		<f:form.hidden name="editorShowInvisibles" id="editor-editorShowInvisibles" value="{settings.editor.showInvisibles}" />
	</f:form>
	<div id="editor"></div>
	<textarea id="content"><f:format.raw>{fileContent}</f:format.raw></textarea>
</f:section>
</html>
