<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
	  xmlns:ftm="http://typo3.org/ns/CodingMs/Ftm/ViewHelpers"
	  data-namespace-typo3-fluid="true">
<f:layout name="Backend" />

<f:section name="Content">
	<div class="content">
		<h1><f:translate key="tx_ftm_label.new_file" /></h1>


		<f:form action="newFileAjax" name="theme" id="ftm-form-new-file">
		<ul class="nav nav-tabs" role="tablist">
			<li role="presentation" class="active"><a href="#home" aria-controls="general" role="tab" data-toggle="tab">Filetype and name</a></li>
		</ul>
		<div class="tab-content">
			<div role="tabpanel" class="tab-pane active" id="general">



			<ol class="form-section">
				<li id="ftm-form-new-file-step-1">
					<label class="float-column">Create a new</label>
					<div class="float-column">
					<f:form.select name="type" options="{types}" value="{selectedType}" size="{f:count(subject: types)}"
												class="ftm-list-select-small readonly form-control" id="ftm-form-new-file-type" />
					</div>
					<div class="float-column">&nbsp;/&nbsp;</div>
					<div class="float-column">
						<f:form.select name="subType" options="{subTypes}" value="{selectedSubType}" size="{f:count(subject: types)}"
							   class="ftm-list-select-small readonly form-control" additionalAttributes="{disabled: 'disabled'}"
							   id="ftm-form-new-file-subtype"/>
					</div>
					<div class="float-column">&nbsp;-File</div>
					<div class="float-column">

					in Scope <b>{selectedScope}</b>
					of Theme <b>{selectedTheme}</b>!</div>
					<!-- Make this hidden!!! -->
					<br />
					<f:form.hidden id="scope" name="scope" value="{selectedScope}" />
					<f:form.hidden id="theme" name="theme" value="{selectedTheme}" />
				</li>
				<li id="ftm-form-new-file-step-2" class="hidden">
					<div class="float-column">
						<label for="directory"><f:translate key="tx_ftm_label.new_file_directory" /></label><br />
						<f:form.select name="directory" options="{directories}" value="{selectedDirectory}" size="4"
									   class="ftm-list-select readonly form-control" id="ftm-form-new-file-directory" additionalAttributes="{disabled: 'disabled'}" />
					</div>
					<div class="float-column">
						<label>&nbsp;</label><br />
						/
					</div>
					<div class="float-column">
						<label for="fileName"><f:translate key="tx_ftm_label.new_file_filename" /></label><br />
						<f:form.textfield name="fileName" value="{fileName}" class="ftm-list-input readonly form-control"
										  id="ftm-form-new-file-filename" additionalAttributes="{disabled: 'disabled'}"
										  style="width: 300px" />
					</div>
					<div class="float-column">
						<label>&nbsp;</label><br />
						.
					</div>
					<div class="float-column">
						<label for="extension"><f:translate key="tx_ftm_label.new_file_file_extension" /></label><br />
						<f:form.select name="extension" options="{extensions}" value="{selectedExtension}" id="ftm-form-new-file-extension"
									   class="ftm-list-select-small readonly form-control" additionalAttributes="{disabled: 'disabled'}" />
					</div>



					<div class="float-column">
						<label></label><br />
						<f:form.submit name="create" id="ftm-form-new-file-create" value="{f:translate(key:'tx_ftm_label.button_create')}" class="hidden btn" />
						<f:form.submit name="createAndEdit" id="ftm-form-new-file-create-and-edit" value="{f:translate(key:'tx_ftm_label.button_create_and_edit_file')}" class="hidden btn" />
						<f:form.submit name="createAndBack" id="ftm-form-new-file-create-and-back" value="{f:translate(key:'tx_ftm_label.button_create_and_back_to_overview')}" class="hidden btn" />
					</div>

				</li>
				<li id="ftm-form-new-file-step-3" class="hidden">
					<div class="no-snippets-available hidden">
						<f:translate key="tx_ftm_message.info_no_snippets_available" />
					</div>
					<div>

						<table id="ftm-form-new-file-snippet-container">
							<tr class="border-bottom">
								<td class="col-icon"></td>
								<td class="col-label text-right"><label><f:translate key="tx_ftm_label.new_file_snippet_search" />:&nbsp;</label></td>
								<td><input name="ftm-form-new-file-snippet-search" value="" id="ftm-form-new-file-snippet-search"
										   style="width: 300px" class="form-control"></td>
							</tr>
						</table>
					</div>
					<div class="hidden">
						<table id="ftm-form-new-file-snippet-template">
							<tr class="border-bottom">
								<td class="col-icon"><f:form.radio name="snippetUid" value="###uid###" class="ftm-form-new-file-snippet" /></td>
								<td class="col-label">
									<b><f:translate key="tx_ftm_label.new_file_snippet_title" />:</b> ###title###<br />
									<b><f:translate key="tx_ftm_label.new_file_snippet_type" />:</b> ###type###<br />
									<b><f:translate key="tx_ftm_label.new_file_snippet_sub_type" />:</b> ###subType###<br />
									<b><f:translate key="tx_ftm_label.new_file_snippet_scope" />:</b> ###extension###<br />
									<b><f:translate key="tx_ftm_label.new_file_snippet_filename" />:</b> <span id="ftm-form-new-file-snippet-###uid###-filename">###filename###</span><br />
									<b><f:translate key="tx_ftm_label.new_file_snippet_description" />:</b> ###description###
								</td>
								<td><textarea readonly="readonly" class="snippetPreview form-control">###content###</textarea></td>
							</tr>
						</table>

					</div>
				</li>
			</ol>

			</div>
		</div>
		</f:form>


	</div>

	<f:comment>
		{selectedTheme}
		{selectedThemeScope}
		<f:debug>{_all}</f:debug>
	</f:comment>

	<div class="ftm-loading hidden">
		<div class="x-mask-loading">
			<div></div>
		</div>
	</div>

</f:section>
</html>
