<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
	  xmlns:ftm="http://typo3.org/ns/CodingMs/Ftm/ViewHelpers"
	  data-namespace-typo3-fluid="true">
<f:layout name="Backend" />
<f:section name="Content">
	<div class="content">
		<h1><f:translate key="tx_ftm_label.new_theme" /></h1>
		<f:form action="createTheme" name="theme">
			<table border="0" cellpadding="0" cellspacing="0" class="table">
				<thead>
					<tr class="t3-row-header">
						<td nowrap="nowrap" class="col-icon">
							<core:icon identifier="actions-pagetree-expand" size="small"/>
						</td>
						<td nowrap="nowrap" class="" colspan="3">
							<span class="c-table"><f:translate key="tx_ftm_label.new_theme_form_headline" /></span>
						</td>
					</tr>
				</thead>
				<tbody>
					<tr class="db_list_normal">
						<td style="width: 16px"></td>
						<td style="width: 150px"><label for="extensionKey"><f:translate key="tx_ftm_label.new_theme_extension_key" /></label></td>
						<td><f:form.textfield id="extensionKey"
											  name="extensionKey"
											  value="theme_"
											  placeholder="theme_yourname"
											  class="form-control" /></td>
						<td><f:format.raw><f:translate key="tx_ftm_label.new_theme_extension_key_help" /></f:format.raw></td>
					</tr>
					<tr class="db_list_normal">
						<td style="width: 16px"></td>
						<td style="width: 150px"><label for="title"><f:translate key="tx_ftm_label.new_theme_title" /></label></td>
						<td><f:form.textfield id="title"
											  name="title"
											  value="Theme-"
											  class="form-control" /></td>
						<td><f:format.raw><f:translate key="tx_ftm_label.new_theme_title_help" /></f:format.raw></td>
					</tr>
					<tr class="db_list_normal">
						<td style="width: 16px"></td>
						<td style="width: 150px"><label for="parentTheme"><f:translate key="tx_ftm_label.new_theme_parent_theme" /></label></td>
						<td><f:form.select id="parentTheme"
										   name="parentTheme"
										   options="{parentThemes}"
										   value="{parentTheme}"
										   class="form-control" /></td>
						<td><f:format.raw><f:translate key="tx_ftm_label.new_theme_parent_theme_help" /></f:format.raw></td>
					</tr>
					<tr class="db_list_normal">
						<td style="width: 16px">
							<core:icon identifier="actions-edit-copy" size="small"/>
						</td>
						<td style="width: 150px"><label for="cloneTheme"><f:translate key="tx_ftm_label.new_theme_clone" /></label></td>
						<td><f:form.select id="cloneTheme"
										   name="cloneTheme"
										   options="{templateTypes}"
										   disabled="disabled"
										   class="form-control" /></td>
						<td><f:format.raw><f:translate key="tx_ftm_label.new_theme_clone_help" /></f:format.raw></td>
					</tr>
					<tr class="db_list_normal">
						<td style="width: 16px">
							<core:icon identifier="actions-system-extension-install" size="small"/>
						</td>
						<td style="width: 150px"><label for="installTheme"><f:translate key="tx_ftm_label.new_theme_install_theme" /></label></td>
						<td><f:form.checkbox id="installTheme"
											 name="installTheme"
											 value="install"
											 checked="checked" /></td>
						<td><f:format.raw><f:translate key="tx_ftm_label.new_theme_install_theme_help" /></f:format.raw></td>
					</tr>
					<tr class="db_list_normal lastcol">
						<td colspan="2"></td>
						<td colspan="2"><f:form.submit value="{f:translate(key:'tx_ftm_label.button_create_new_theme')}" class="btn btn-default" /></td>
					</tr>
				</tbody>
			</table>
		</f:form>
	</div>
</f:section>
</html>
