<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
	  xmlns:ftm="http://typo3.org/ns/CodingMs/Ftm/ViewHelpers"
	  data-namespace-typo3-fluid="true">

<f:layout name="Backend" />

<f:section name="Buttons">
	<f:link.action action="index" controller="Overview" title="{f:translate(key:'tx_ftm_label.button_back_to_overview')}">
		<core:icon identifier="actions-close" size="small"/>
	</f:link.action>
</f:section>

<f:section name="Content">
	<div class="content">
		<h1><f:translate key="tx_ftm_label.save_snippet" /></h1>

		<f:form action="saveSnippet" name="theme">

			<f:form.hidden name="theme" value="{selectedTheme}" />
			<f:form.hidden name="relPath" value="{relPath}" />

			<table class="theme-form-table t3-table ftm">
				<thead>
				<tr class="t3-row-header">
					<td nowrap="nowrap" class="col-icon">
						<core:icon identifier="actions-pagetree-expand" size="small"/>
					</td>
					<td nowrap="nowrap" class="" colspan="3">
						<span class="c-table"><f:translate key="tx_ftm_label.save_snippet_form_headline" /></span>
					</td>
				</tr>
				</thead>
				<tbody>

					<tr>
						<td style="width: 16px"></td>
						<td style="width: 150px"><label for="title"><f:translate key="tx_ftm_label.save_snippet_title" /></label></td>
						<td><f:form.textfield id="title" name="title" value="{title}" class="ftm-list-input" /></td>
						<td><f:translate key="tx_ftm_label.save_snippet_title_help" /></td>
					</tr>
					<tr>
						<td style="width: 16px"></td>
						<td style="width: 150px"><label for="type"><f:translate key="tx_ftm_label.save_snippet_type" /></label></td>
						<td><f:form.textfield id="type" name="type" value="{type}" class="ftm-list-input readonly" readonly="1" /></td>
						<td><f:translate key="tx_ftm_label.save_snippet_type_help" /></td>
					</tr>
					<tr>
						<td style="width: 16px"></td>
						<td style="width: 150px"><label for="subType"><f:translate key="tx_ftm_label.save_snippet_sub_type" /></label></td>
						<td><f:form.textfield id="subType" name="subType" value="{subType}" class="ftm-list-input readonly" readonly="1" /></td>
						<td><f:translate key="tx_ftm_label.save_snippet_sub_type_help" /></td>
					</tr>

					<tr>
						<td style="width: 16px"></td>
						<td style="width: 150px"><label for="filename"><f:translate key="tx_ftm_label.save_snippet_filename" /></label></td>
						<td><f:form.textfield id="filename" name="filename" value="{filename}" class="ftm-list-input" /></td>
						<td><f:translate key="tx_ftm_label.save_snippet_filename_help" /></td>
					</tr>
					<tr>
						<td style="width: 16px"></td>
						<td style="width: 150px"><label for="scope"><f:translate key="tx_ftm_label.save_snippet_scope" /></label></td>
						<td><f:form.textfield id="scope" name="scope" value="{scope}" class="ftm-list-input readonly" readonly="1" /></td>
						<td><f:translate key="tx_ftm_label.save_snippet_scope_help" /></td>
					</tr>

					<tr>
						<td style="width: 16px"></td>
						<td style="width: 150px"><label for="description"><f:translate key="tx_ftm_label.save_snippet_description" /></label></td>
						<td><f:form.textarea id="description" name="description" value="{description}" /></td>
						<td><f:translate key="tx_ftm_label.save_snippet_description_help" /></td>
					</tr>

					<tr>
						<td style="width: 16px"></td>
						<td style="width: 150px"><label for="content"><f:translate key="tx_ftm_label.save_snippet_content" /></label></td>
						<td><f:form.textarea id="content" name="content" value="{content}" class="snippetPreview" /></td>
						<td><f:translate key="tx_ftm_label.save_snippet_content_help" /></td>
					</tr>

					<tr>
						<td style="width: 16px"></td>
						<td style="width: 150px"><label for="publicReadable"><f:translate key="tx_ftm_label.save_snippet_public_readable" /></label></td>
						<td><f:form.checkbox id="publicReadable" name="publicReadable" value="1" checked="{publicReadable}" class="ftm-list-checkbox" /></td>
						<td><f:translate key="tx_ftm_label.save_snippet_public_readable_help" /></td>
					</tr>
					<tr>
						<td style="width: 16px"></td>
						<td style="width: 150px"><label for="publicWritable"><f:translate key="tx_ftm_label.save_snippet_public_writable" /></label></td>
						<td><f:form.checkbox id="publicWritable" name="publicWritable" value="1" checked="{publicWritable}" class="ftm-list-checkbox" /></td>
						<td><f:translate key="tx_ftm_label.save_snippet_public_writable_help" /></td>
					</tr>

					<tr>
						<td></td>
						<td></td>
						<td>
							<f:form.submit name="saveAndBack" value="{f:translate(key:'tx_ftm_label.button_save_snippet_and_back_to_overview')}" />
						</td>
						<td></td>
					</tr>
				</tbody>
			</table>

		</f:form>
	</div>

	<f:comment>
		{selectedTheme}
		{selectedThemeScope}
		<f:debug>{_all}</f:debug>
	</f:comment>

</f:section>
</html>
