{namespace ftm=CodingMs\Ftm\ViewHelpers}
<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
	 xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">
	<f:section name="Bootstrap-3.2">
		<!-- ftm: Partials/FlashMessages.html [begin] -->

		<!--f:debug>{messages}</f:debug-->

		<!-- Errors -->
		<f:if condition="{ftm:arrayIndex(object: messages, index: 'ERROR')}">
			<div class="alert alert-danger" role="alert">
				<p class="title"><b>Error:</b></p>
				<p class="messages">
					<f:for each="{messages.ERROR}" as="message" iteration="itemIterator">
						<f:if condition="{message.formField}">
							<f:then> </f:then>
							<f:else>
								<f:if condition="{itemIterator.isLast}">
									<f:then>{message.translation}</f:then>
									<f:else>{message.translation}<br /></f:else>
								</f:if>
							</f:else>
						</f:if>
					</f:for>
				</p>
			</div>
		</f:if>

		<!-- Warnings -->
		<f:if condition="{ftm:arrayIndex(object: messages, index: 'WARNING')}">
			<div class="alert alert-warning" role="alert">
				<p class="title"><b>Warning</b></p>
				<p class="messages">
					<f:for each="{messages.WARNING}" as="message" iteration="itemIterator">
						<f:if condition="{message.formField}">
							<f:then> </f:then>
							<f:else>
								<f:if condition="{itemIterator.isLast}">
									<f:then>{message.translation}</f:then>
									<f:else>{message.translation}<br /></f:else>
								</f:if>
							</f:else>
						</f:if>
					</f:for>
				</p>
			</div>
		</f:if>

		<!-- Info -->
		<f:if condition="{ftm:arrayIndex(object: messages, index: 'INFO')}">
			<div class="alert alert-info" role="alert">
				<p class="title"><b>Info</b></p>
				<p class="messages">
					<f:for each="{messages.INFO}" as="message" iteration="itemIterator">
						<f:if condition="{message.formField}">
							<f:then> </f:then>
							<f:else>
								<f:if condition="{itemIterator.isLast}">
									<f:then>{message.translation}</f:then>
									<f:else>{message.translation}<br /></f:else>
								</f:if>
							</f:else>
						</f:if>
					</f:for>
				</p>
			</div>
		</f:if>

		<!-- Notice -->
		<f:if condition="{ftm:arrayIndex(object: messages, index: 'NOTICE')}">
			<div class="alert alert-info" role="alert">
				<p class="title"><b>Notice</b></p>
				<p class="messages">
					<f:for each="{messages.NOTICE}" as="message" iteration="itemIterator">
						<f:if condition="{message.formField}">
							<f:then> </f:then>
							<f:else>
								<f:if condition="{itemIterator.isLast}">
									<f:then>{message.translation}</f:then>
									<f:else>{message.translation}<br /></f:else>
								</f:if>
							</f:else>
						</f:if>
					</f:for>
				</p>
			</div>
		</f:if>

		<!-- Errors -->
		<f:if condition="{ftm:arrayIndex(object: messages, index: 'OK')}">
			<div class="alert alert-success" role="alert">
				<p class="title"><b>Success</b></p>
				<p class="messages">
				<f:for each="{messages.OK}" as="message" iteration="itemIterator">
					<f:if condition="{message.formField}">
						<f:then> </f:then>
						<f:else>
							<f:if condition="{itemIterator.isLast}">
								<f:then>{message.translation}</f:then>
								<f:else>{message.translation}<br /></f:else>
							</f:if>
						</f:else>
					</f:if>
				</f:for>
				</p>
			</div>
		</f:if>

		<!-- ftm: Partials/Form/FlashMessages.html [end] -->
	</f:section>
</div>
