{namespace ftm=CodingMs\Ftm\ViewHelpers}
<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
	 xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">
	<f:section name="Bootstrap-3">
		<!-- ftm: Partials/Form/BUtton.html [begin] -->

		<ftm:variable.set name="translationPrefix" value="tx_{ftm:format.case(string: extensionName, case: 'lower')}" />
		<ftm:variable.set name="nameLowercaseUnderscored" value="{ftm:format.case(string: name, case: 'lowercase_underscored')}" />

		<ftm:variable.set name="translationKeyButtonValue" value="{translationPrefix}_label.button_{nameLowercaseUnderscored}" />
		<ftm:variable.set name="translationKeyButtonClass" value="{translationPrefix}_css.button_{nameLowercaseUnderscored}" />
		<ftm:variable.set name="translationKeyButtonTitle" value="{translationPrefix}_label.button_title_{nameLowercaseUnderscored}" />
		<ftm:variable.set name="translationKeyButtonIconClass" value="{translationPrefix}_css.button_icon_{nameLowercaseUnderscored}" />
		<ftm:variable.set name="translationKeyButtonLabel" value="{translationPrefix}_label.button_{nameLowercaseUnderscored}" />

		<f:form.button type="{type}"
					   name="{name}"
					   value="{f:translate(key: translationKeyButtonValue)}"
					   class="{f:translate(key: translationKeyButtonClass)}"
					   title="{f:translate(key: translationKeyButtonTitle)}">
			<span class="{f:translate(key: translationKeyButtonIconClass)}"></span>
			<span><f:translate key="{translationKeyButtonLabel}" /></span>
		</f:form.button>

		<!-- ftm: Partials/Form/Button.html [end] -->
	</f:section>
</div>
