{namespace ftm=CodingMs\Ftm\ViewHelpers}
<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
	 xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">
	<f:section name="Bootstrap-3">
		<!-- ftm: Partials/Form/Captcha.html [begin] -->

		<div class="alert alert-danger">Not implemented yet!</div>


		<ftm:variable.set name="translationPrefix" value="tx_{ftm:format.case(string: extensionName, case: 'lower')}" />
		<ftm:variable.set name="translationKeyLabel" value="{translationPrefix}_label.form_{ftm:format.case(string: fullName, case: 'lowercase_underscored')}" />

		<ftm:variable.set name="hasErrorClass" value="" />
		<f:if condition="{ftm:arrayIndex(object: messages, index: fullName)}">
			<ftm:variable.set name="hasErrorClass" value="has-error" />
		</f:if>

		<div class="form-group {hasErrorClass}" id="form_group_{fullName}">
			<label for="{fullName}"><f:translate key="{translationKeyLabel}" /><f:if condition="{required}">*</f:if>:</label>
			<f:for each="{options}" as="option" key="key">

				<ftm:variable.set name="inputValues" value="{ftm:arrayIndex(object: values, index: fullName)}" />
				<ftm:variable.set name="additionalAttributes" value="{}" />
				<f:if condition="{ftm:arrayIndex(object: inputValues, index: key)}">
					<ftm:variable.set name="additionalAttributes" value="{checked: 'checked'}" />
				</f:if>

				<label class="checkbox-inline">
					<f:form.checkbox value="{option}" name="{key}" title="{option}" additionalAttributes="{additionalAttributes}" /> {option}
				</label>

			</f:for>

			<f:if condition="{notice}"><p class="help-block">{notice}</p></f:if>
			<p class="help-block">
				<f:for each="{ftm:arrayIndex(object: messages, index: fullName)}" as="message" iteration="itemIterator">
					{message.translation}
					<f:if condition="{itemIterator.isLast}">
						<f:then> </f:then>
						<f:else><br /></f:else>
					</f:if>
				</f:for>
			</p>

		</div>

		<!-- ftm: Partials/Form/Captcha.html [end] -->
	</f:section>
</div>
