{namespace ftm=CodingMs\Ftm\ViewHelpers}
<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
	 xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">
	<f:section name="Bootstrap-3">
		<!-- ftm: Partials/Form/Textfield.html [begin] -->

		<ftm:variable.set name="translationPrefix" value="tx_{ftm:format.case(string: extensionName, case: 'lower')}" />
		<ftm:variable.set name="nameLowercaseUnderscored" value="{ftm:format.case(string: name, case: 'lowercase_underscored')}" />
		<ftm:variable.set name="fullNameLowercaseUnderscored" value="{ftm:format.case(string: fullName, case: 'lowercase_underscored')}" />

		<ftm:variable.set name="translationKeyLabel" value="{translationPrefix}_label.form_{fullNameLowercaseUnderscored}" />
		<ftm:variable.set name="translationKeyPlaceholder" value="{translationPrefix}_label.form_{fullNameLowercaseUnderscored}_placeholder" />

		<ftm:variable.set name="hasErrorClass" value="" />
		<f:if condition="{ftm:arrayIndex(object: messages, index: fullName)}">
			<ftm:variable.set name="hasErrorClass" value="has-error" />
		</f:if>

		<div class="form-group date {hasErrorClass}" id="form_group_{fullName}">
			<label for="{fullName}"><f:translate key="{translationKeyLabel}" /><f:if condition="{required}">*</f:if>:</label>
			<div class="input-group date" id="{fullName}-datepicker">
				<f:form.textfield name="{name}" type="{type}" class="form-control" id="{fullName}"
								  value="{ftm:arrayIndex(object: values, index: fullName)}"
								  placeholder="{f:translate(key: translationKeyPlaceholder)}" />
				<span class="input-group-addon">
					<span class="glyphicon glyphicon-calendar"></span>
				</span>
			</div>
			<f:if condition="{notice}"><p class="help-block">{notice}</p></f:if>
			<p class="help-block">
				<f:for each="{ftm:arrayIndex(object: messages, index: fullName)}" as="message" iteration="itemIterator">
					{message.translation}
					<f:if condition="{itemIterator.isLast}">
						<f:then> </f:then>
						<f:else><br /></f:else>
					</f:if>
				</f:for>
			</p>
		</div>


		<script type="text/javascript">
			$(function() {
				$('#{fullName}-datepicker').datepicker({
					//locale: 'de',
					format: 'dd-mm-yyyy',
					autoclose: true
				});
			});
		</script>

		<!-- ftm: Partials/Form/Textfield.html [end] -->
	</f:section>
</div>
