{namespace ftm=CodingMs\Ftm\ViewHelpers}
<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
	 xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">
	<f:section name="Bootstrap-3">
		<!-- ftm: Partials/Form/Rte.html [begin] -->

		<ftm:variable.set name="translationPrefix" value="tx_{ftm:format.case(string: extensionName, case: 'lower')}" />
		<ftm:variable.set name="translationKeyLabel" value="{translationPrefix}_label.form_{ftm:format.case(string: fullName, case: 'lowercase_underscored')}" />

		<ftm:variable.set name="hasErrorClass" value="" />
		<f:if condition="{ftm:arrayIndex(object: messages, index: fullName)}">
			<ftm:variable.set name="hasErrorClass" value="has-error" />
		</f:if>



		<div class="form-group {hasErrorClass}" id="form_group_{fullName}">
			<label for="{fullName}"><f:translate key="{translationKeyLabel}" /><f:if condition="{required}">*</f:if>:</label>
			<div class="input-group rte" id="{fullName}-rte">
				<f:form.textarea name="{name}" class="form-control" id="{fullName}" value="{ftm:arrayIndex(object: values, index: fullName)}" />
			</div>
			<f:if condition="{notice}"><p class="help-block">{notice}</p></f:if>
			<p class="help-block">
				<f:for each="{ftm:arrayIndex(object: messages, index: fullName)}" as="message" iteration="itemIterator">
					{message.translation}
					<f:if condition="{itemIterator.isLast}">
						<f:then> </f:then>
						<f:else><br /></f:else>
					</f:if>
				</f:for>
			</p>
		</div>


		<script type="text/javascript">
			$(function() {
				$('#{fullName}').wysihtml5({
					"font-styles": false, //Font styling, e.g. h1, h2, etc. Default true
					"emphasis": false, //Italics, bold, etc. Default true
					"lists": true, //(Un)ordered lists, e.g. Bullets, Numbers. Default true
					"html": false, //Button which allows you to edit the generated HTML. Default false
					"link": true, //Button to insert a link. Default true
					"image": false, //Button to insert an image. Default true,
					"color": false //Button to change color of font
				});
			});
		</script>

		<!-- ftm: Partials/Form/Rte.html [end] -->
	</f:section>
</div>
