{namespace ftm=CodingMs\Ftm\ViewHelpers}
<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
	 xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">
	<f:section name="Bootstrap-3">
		<!-- ftm: Partials/Form/Textfield.html [begin] -->

		<ftm:variable.set name="translationPrefix" value="tx_{ftm:format.case(string: extensionName, case: 'lower')}" />
		<ftm:variable.set name="translationKeyLabel" value="{translationPrefix}_label.form_{ftm:format.case(string: fullName, case: 'lowercase_underscored')}" />


		<div class="alert alert-danger">Deprecated!</div>

		<!-- Error messages available?! -->
		<f:if condition="{ftm:arrayIndex(object: messages, index: fullName)}">
			<f:then>

				<div class="form-group has-error">
					<label for="{fullName}"><f:translate key="{translationKeyLabel}" /><f:if condition="{required}">*</f:if>:</label>
					<f:form.textfield name="{name}" type="{type}" class="form-control" id="{fullName}" value="{ftm:arrayIndex(object: values, index: fullName)}" />
					<f:if condition="{notice}"><p class="help-block">{notice}</p></f:if>
					<p class="help-block">
						<f:for each="{ftm:arrayIndex(object: messages, index: fullName)}" as="message" iteration="itemIterator">
							{message.translation}
							<f:if condition="{itemIterator.isLast}">
								<f:then> </f:then>
								<f:else><br /></f:else>
							</f:if>
						</f:for>
					</p>

				</div>

			</f:then>
			<f:else>

				<div class="form-group">
					<label for="{fullName}"><f:translate key="{translationKeyLabel}" /><f:if condition="{required}">*</f:if>:</label>
					<f:form.textfield name="{name}" type="{type}" class="form-control" id="{fullName}" value="{ftm:arrayIndex(object: values, index: fullName)}" />
					<f:if condition="{notice}"><p class="help-block">{notice}</p></f:if>
				</div>

			</f:else>
		</f:if>

		<!-- ftm: Partials/Form/Textfield.html [end] -->
	</f:section>
</div>
