<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
	  xmlns:ftm="http://typo3.org/ns/CodingMs/Ftm/ViewHelpers"
	  data-namespace-typo3-fluid="true">
<f:layout name="Backend" />
<f:section name="Content">
	<div class="content">
		<h1>{f:translate(key:'tx_ftm_label.ftm_settings')}</h1>
		<f:form action="save">

			<f:comment><!-- =================================
			FTM: Cloud settings
			================================= --></f:comment>
			<table border="0" cellpadding="0" cellspacing="0" class="typo3-dblist table table-striped table-hover">
				<thead>
				<tr class="t3-row-header">
					<td nowrap="nowrap" class="col-icon">
						<core:icon identifier="actions-pagetree-expand" size="small"/>
					</td>
					<td nowrap="nowrap" class="" colspan="2">
							<span class="c-table">
								<f:translate key="tx_ftm_label.ftm_settings_plugin_cloud" />
							</span> (3)
					</td>
				</tr>
				</thead>
				<tbody>
					<tr class="db_list_normal firstcol">
						<td style="width: 16px"></td>
						<td style="width: 150px">
							<f:form.textfield id="pluginCloud_key" name="pluginCloud_key" value="{settings.pluginCloud.key}" />
						</td>
						<td>
							<label for="pluginCloud_key">
								<f:translate key="tx_ftm_label.ftm_settings_plugin_cloud_key" />
							</label>
						</td>
					</tr>
					<tr class="db_list_normal">
						<td style="width: 16px"></td>
						<td style="width: 150px">
							<f:form.textfield id="pluginCloud_user" name="pluginCloud_user" value="{settings.pluginCloud.user}" />
						</td>
						<td>
							<label for="pluginCloud_user">
								<f:translate key="tx_ftm_label.ftm_settings_plugin_cloud_user" />
							</label>
						</td>
					</tr>
					<tr class="db_list_normal lastcol">
						<td style="width: 16px"></td>
						<td style="width: 150px">
							<f:form.password id="pluginCloud_password" name="pluginCloud_password" value="" />
						</td>
						<td>
							<label for="pluginCloud_password">
								<f:translate key="tx_ftm_label.ftm_settings_plugin_cloud_password" /> (<f:translate key="tx_ftm_label.ftm_settings_plugin_cloud_password_notice" />)
							</label>
						</td>
					</tr>
				</tbody>
			</table>

			<f:comment><!-- =================================
			Overview: List columns
			================================= --></f:comment>
			<table border="0" cellpadding="0" cellspacing="0" class="typo3-dblist table table-striped table-hover">
				<thead>
					<tr class="t3-row-header">
						<td nowrap="nowrap" class="col-icon">
							<core:icon identifier="actions-pagetree-expand" size="small"/>
						</td>
						<td nowrap="nowrap" class="" colspan="2">
							<span class="c-table">
								<f:translate key="tx_ftm_label.ftm_settings_overview_columns" />
							</span> (<f:count subject="{settings.overview.columns}" />)
						</td>
					</tr>
				</thead>
				<tbody>
					<f:for each="{settings.overview.columns}" key="key" as="value" iteration="columnIteration">
						<tr class="db_list_normal {f:if(condition: rowIteration.isFirst, then: 'firstcol')} {f:if(condition: rowIteration.isLast, then: 'lastcol')}">
							<td style="width: 16px"></td>
							<td style="width: 16px">
								<f:if condition="{value}==1">
									<f:then>
										<f:form.checkbox id="overview_columns_{key}" name="overview_columns_{key}" value="1" checked="checked" />
									</f:then>
									<f:else>
										<f:form.checkbox id="overview_columns_{key}" name="overview_columns_{key}" value="1" />
									</f:else>
								</f:if>
							</td>
							<td>
								<label for="overview_columns_{key}">
									<f:translate key="tx_ftm_label.ftm_settings_overview_column_{key}" />
								</label>
							</td>
						</tr>
					</f:for>
				</tbody>
			</table>

			<f:comment><!-- =================================
			Overview: List item actions
			================================= --></f:comment>
			<table border="0" cellpadding="0" cellspacing="0" class="typo3-dblist table table-striped table-hover">
				<thead>
					<tr class="t3-row-header">
						<td nowrap="nowrap" class="col-icon">
							<core:icon identifier="actions-pagetree-expand" size="small"/>
						</td>
						<td nowrap="nowrap" class="" colspan="2">
								<span class="c-table">
								<f:translate key="tx_ftm_label.ftm_settings_overview_actions" />
								</span> (<f:count subject="{settings.overview.actions}" />)
						</td>
					</tr>
				</thead>
				<tbody>
				<f:for each="{settings.overview.actions}" key="key" as="value" iteration="columnIteration">
					<tr class="db_list_normal {f:if(condition: rowIteration.isFirst, then: 'firstcol')} {f:if(condition: rowIteration.isLast, then: 'lastcol')}">
						<td style="width: 16px"></td>
						<td style="width: 16px">
							<f:if condition="{value}==1">
								<f:then>
									<f:form.checkbox id="overview_actions_{key}" name="overview_actions_{key}" value="1" checked="checked" />
								</f:then>
								<f:else>
									<f:form.checkbox id="overview_actions_{key}" name="overview_actions_{key}" value="1" />
								</f:else>
							</f:if>
						</td>
						<td>
							<label for="overview_actions_{key}">
								<f:translate key="tx_ftm_label.ftm_settings_overview_action_{key}" />
							</label>
						</td>
					</tr>
				</f:for>
				</tbody>
			</table>

			<f:form.submit name="save" value="{f:translate(key: 'tx_ftm_label.button_save')}" class="btn btn-default" />
			<f:form.submit name="saveAndBack" value="{f:translate(key: 'tx_ftm_label.button_save_and_back_to_overview')}" class="btn btn-default" />

		</f:form>
	</div>

	<f:comment>
		<f:debug>{_all}</f:debug>
	</f:comment>

</f:section>

</html>
