.content .checkbox {
	display: inline-block;
	width: 120px;
	height: 24px;
}

.alert-outdated-configration .btn {
    margin-top: 20px;
    margin-bottom: 10px;
    text-decoration: none;
}

.ftm-list-input,
.ftm-list-select {
	width: 300px;
}
.ftm-list-input.readonly {
	background-color: #ddd;
}
.ftm-list-select-small {
	width: 120px;
}

#ftm-form-new-file .float-column {
	display: inline-block;
	vertical-align: top;
	line-height: 32px;
}

.ftm-loading {
	display: block;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(255,255,255,0.6);
	z-index: 99;
	padding-top: 200px;
}
.hidden {
	display: none !important;
}
.text-right {
	text-align: right !important;
}
.border-bottom {
	border-bottom: 1px solid #ededed;
}
table#ftm-form-new-file-snippet-container {
	width: 100%;
}
table#ftm-form-new-file-snippet-container tr td {
	padding-bottom: 10px;
	padding-top: 10px;
}

td.col-icon {
	width: 30px;
}
td.col-label {
	width: 250px;
}

td.actions a {
	text-decoration: none !important;
}
textarea.snippetPreview {
	overflow: auto;
	width: 99%;
	height: 300px;
	font-size: 11px;
	font-family: monospace;
}

table.theme-form-table.t3-table.ftm tr td {
	padding-top: 15px;
	padding-bottom: 15px;
}

.extbase-debugger.extbase-debugger-floating,
.Extbase-Utility-Debugger-VarDump-Floating {
	width: 50% !important;
	float: right;
}


#ftm-form-new-file label {
	line-height: 32px;
}
#ftm-form-new-file .btn {
	margin-top: 6px;
}
#ftm-form-new-file textarea {
	height: 200px;
}
#ftm-form-new-file td {
	vertical-align: top;
}


.typo3-ftm-module ol {
	counter-reset:li; /* Initiate a counter */
	margin-left:0; /* Remove the default left margin */
	padding-left:0; /* Remove the default left padding */
}
.typo3-ftm-module ol > li {
	position:relative; /* Create a positioning context */
	margin:0 0 24px 2em; /* Give each list item a left margin to make room for the numbers */
	padding:4px 8px; /* Add some spacing around the content */
	list-style:none; /* Disable the normal item numbering */
	border-top:2px solid #ededed;
}
.typo3-ftm-module ol > li:before {
	content:counter(li); /* Use the counter as content */
	counter-increment:li; /* Increment the counter by 1 */
	/* Position and style the number */
	position:absolute;
	top:-2px;
	left:-2em;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	width:2em;
	/* Some space between the number and the content in browsers that support
	   generated content but not positioning it (Camino 2 is one example) */
	margin-right:8px;
	padding:4px;
	border-top:2px solid #ededed;
	color:#000;
	background:#ededed;
	font-weight:bold;
	font-family:"Helvetica Neue", Arial, sans-serif;
	text-align:center;
}
.typo3-ftm-module li ol,
.typo3-ftm-module li ul {margin-top:6px;}
.typo3-ftm-module ol ol li:last-child {margin-bottom:0;}

/* Editor */
.typo3-ftm-module.ace {
    margin: -24px;
    margin-top: -29px;
}
.typo3-ftm-module.ace #editor {
    width: 100%;
    height: calc( 100vh - 65px);
}
.typo3-ftm-module.ace #content {
    display: none;
}
