{namespace ftm=CodingMs\Ftm\ViewHelpers}
<div class="typo3-messages">
    <div class="typo3-message message-information">
        <div class="message-header"><f:translate key="tx_ftm_domain_model_template.disclaimer_headline" /></div>
        <div class="message-body">
            <f:translate key="tx_ftm_domain_model_template.disclaimer_intro" />
            <br />
            <br />
            <br />
            @todo: add the disclaimer
            <b><f:translate key="tx_ftm_domain_model_template.disclaimer_warning" /></b> <f:translate key="tx_ftm_domain_model_template.disclaimer_warning_text" />
               <br />
               <br />
               <br />

            <!-- Wenn auf der aktuellen Seite schon ein Template vorhanden ist,
                 biete die Moeglichkeit der Ausblendung dieser Nachricht -->
            <f:if condition="{options.templateOnCurrentPage}">
                <f:then>
                    <f:form action="acceptDisclaimer">
                        <label><f:form.checkbox name="acceptDisclaimer" value="TRUE" additionalAttributes="{onclick: 'this.form.submit();' }" /> <f:translate key="tx_ftm_domain_model_template.disclaimer_accept_conditions"></f:translate></label><br />
                    </f:form>
                </f:then>
            </f:if>

        </div>
    </div>
</div>
