<f:if condition="{settings.overview.columns.type}">
	<td>{themeFile.type}</td>
</f:if>

<f:if condition="{settings.overview.columns.subType}">
	<td>{themeFile.subType}</td>
</f:if>

<f:if condition="{settings.overview.columns.extensionKey}">
	<td>{themeFile.extensionKey}</td>
</f:if>

<f:if condition="{settings.overview.columns.relPath}">
	<td>{themeFile.relPath}</td>
</f:if>

<f:if condition="{settings.overview.columns.name}">
	<td>{themeFile.name}</td>
</f:if>

<f:if condition="{settings.overview.columns.extension}">
	<td>{themeFile.extension}</td>
</f:if>
