{namespace ftm=CodingMs\Ftm\ViewHelpers}

<td>icon</td>


<f:if condition="{settings.overview.columns.type}">
	<td>{themeFile.type}</td>
</f:if>

<f:if condition="{settings.overview.columns.subType}">
	<td>{themeFile.subType}</td>
</f:if>

<f:if condition="{settings.overview.columns.extensionKey}">
	<td>{themeFile.extensionKey}</td>
</f:if>

<f:if condition="{settings.overview.columns.relPath}">
	<td>{themeFile.relPath}</td>
</f:if>

<f:if condition="{settings.overview.columns.name}">
	<td><a href="{themeFile.editFileLink}">{themeFile.name}</a></td>
</f:if>

<f:if condition="{settings.overview.columns.extension}">
	<td>{themeFile.extension}</td>
</f:if>

<td>
	<!--f:link.action action="edit" controller="File" additionalParams="{target: themeFile.fullFilePath}">
		<span class="t3-icon t3-icon-actions t3-icon-actions-system t3-icon-system-list-open">&nbsp;</span>
		edit file
	</f:link.action-->

	<a href="{themeFile.editFileLink}">
		<f:image src="{f:uri.resource(path:'Icons/fluid_edit.png')}" width="16" height="16" alt="Edit" />
	</a>

</td>
