<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
	  xmlns:ftm="http://typo3.org/ns/CodingMs/Ftm/ViewHelpers"
	  data-namespace-typo3-fluid="true">
<f:layout name="Backend" />
<f:section name="Content">
	<div class="content">

		<f:if condition="{settings.selectedTheme}">
			<f:then>
				<h1>{f:translate(key:'tx_ftm_label.theme_services')} ({f:translate(key:'tx_ftm_label.theme_services_selected_theme')}: {settings.selectedTheme})</h1>
			</f:then>
			<f:else>
				<h1>{f:translate(key:'tx_ftm_label.theme_services')} ({f:translate(key:'tx_ftm_label.theme_services_no_theme_selected')})</h1>
			</f:else>
		</f:if>



		<h2>{f:translate(key:'tx_ftm_label.theme_services_on_selected_theme')}</h2>

		<table border="0" cellpadding="0" cellspacing="0" class="typo3-dblist table table-striped table-hover">
			<thead>
			<tr class="t3-row-header">
				<td nowrap="nowrap" class="col-icon">
					<core:icon identifier="actions-pagetree-expand" size="small"/>
				</td>
				<td nowrap="nowrap" class="" colspan="1">
					<span class="c-table">{f:translate(key:'tx_ftm_label.theme_services_theme')}</span>
				</td>
			</tr>
			</thead>
			<tbody>

			<f:comment><!-- =================================
					FTM services
					================================= --></f:comment>
			<tr class="db_list_normal firstcol">
				<td></td>
				<td>
					<f:link.action action="index" controller="Services" arguments="{service: 'fixPermissions'}">
						{f:translate(key:'tx_ftm_label.theme_services_theme_fix_permissions')}
					</f:link.action>
				</td>
			</tr>
			<tr class="db_list_normal lastcol">
				<td></td>
				<td>
					<f:link.action action="index" controller="Services" arguments="{service: 'generateDocumentation'}">
						{f:translate(key:'tx_ftm_label.theme_services_theme_generate_documentation')}
					</f:link.action>
				</td>
			</tr>
			</tbody>
		</table>



		<h2>{f:translate(key:'tx_ftm_label.theme_services_global')}</h2>

		<table border="0" cellpadding="0" cellspacing="0" class="typo3-dblist table table-striped table-hover">
			<thead>
			<tr class="t3-row-header">
				<td nowrap="nowrap" class="col-icon">
					<core:icon identifier="actions-pagetree-expand" size="small"/>
				</td>
				<td nowrap="nowrap" class="" colspan="1">
					<span class="c-table">{f:translate(key:'tx_ftm_label.theme_services_ftm')}</span>
				</td>
			</tr>
			</thead>
			<tbody>

				<f:comment><!-- =================================
					FTM services
					================================= --></f:comment>
				<tr class="db_list_normal firstcol lastcol">
					<td></td>
					<td>
						<f:link.action action="index" controller="Services" arguments="{service: 'resetFtmSettings'}">
							{f:translate(key:'tx_ftm_label.theme_services_ftm_reset_ftm_settings')}
						</f:link.action>
					</td>
				</tr>
			</tbody>
		</table>

		<table border="0" cellpadding="0" cellspacing="0" class="typo3-dblist table table-striped table-hover">
			<thead>
			<tr class="t3-row-header">
				<td nowrap="nowrap" class="col-icon">
					<core:icon identifier="actions-pagetree-expand" size="small"/>
				</td>
				<td nowrap="nowrap" class="" colspan="1">
					<span class="c-table">{f:translate(key:'tx_ftm_label.theme_services_realurl')}</span>
				</td>
			</tr>
			</thead>
			<tbody>

				<f:comment><!-- =================================
				RealUrl services
				================================= --></f:comment>
				<ftm:extension.loaded extensionName="Realurl">
					<f:then>

						<tr class="db_list_normal firstcol">
							<td></td>
							<td>
								<f:link.action action="index" controller="Services" arguments="{service: 'realurlClearCache'}">
									{f:translate(key:'tx_ftm_label.theme_services_realurl_clear_cache')}
								</f:link.action>
							</td>
						</tr>

						<tr class="db_list_normal lastcol">
							<td></td>
							<td>
								<f:link.action action="index" controller="Services" arguments="{service: 'realurlDeleteAutoConfiguration'}">
									{f:translate(key:'tx_ftm_label.theme_services_realurl_delete_auto_configuration')}
								</f:link.action>
							</td>
						</tr>

					</f:then>
					<f:else>
						<tr class="db_list_normal firstcol lastcol">
							<td></td>
							<td>
								<div class="alert alert-warning">
									{f:translate(key:'tx_ftm_label.theme_services_realurl_not_available')}
								</div>
							</td>
						</tr>
					</f:else>
				</ftm:extension.loaded>
			</tbody>
		</table>

		<table border="0" cellpadding="0" cellspacing="0" class="typo3-dblist table table-striped table-hover">
			<thead>
			<tr class="t3-row-header">
				<td nowrap="nowrap" class="col-icon">
					<core:icon identifier="actions-pagetree-expand" size="small"/>
				</td>
				<td nowrap="nowrap" class="" colspan="1">
					<span class="c-table">{f:translate(key:'tx_ftm_label.theme_services_extensions')}</span>
				</td>
			</tr>
			</thead>
			<tbody>
				<tr class="db_list_normal lastcol">
					<td></td>
					<td>
						<f:link.action action="index" controller="Services" arguments="{service: 'extensionsDeleteRepositoryCache'}">
							{f:translate(key:'tx_ftm_label.theme_services_extensions_delete_repository_cache')}
						</f:link.action>
					</td>
				</tr>
			</tbody>
		</table>

		<table border="0" cellpadding="0" cellspacing="0" class="typo3-dblist table table-striped table-hover">
			<thead>
			<tr class="t3-row-header">
				<td nowrap="nowrap" class="col-icon">
					<core:icon identifier="actions-pagetree-expand" size="small"/>
				</td>
				<td nowrap="nowrap" class="" colspan="1">
					<span class="c-table">{f:translate(key:'tx_ftm_label.theme_services_system')}</span>
				</td>
			</tr>
			</thead>
			<tbody>
			<tr class="db_list_normal lastcol">
				<td></td>
				<td>
					<f:link.action action="index" controller="Services" arguments="{service: 'systemBackupFullDatabase'}">
						{f:translate(key:'tx_ftm_label.theme_services_system_backup_full_database')}
					</f:link.action>
				</td>
			</tr>
			</tbody>
		</table>
	</div>

</f:section>

</html>
